header {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}
.searchBar {
  height: 16px;
  font-size: 14px;
  padding: 0.5em;
  border: none;
  border-bottom: 1px solid #d2d2d2;
  outline: none;
}
body {
  font-family: -apple-system, BlinkMacSystemFont, avenir next, avenir, segoe ui, helvetica neue, helvetica, Ubuntu, roboto, noto, arial, sans-serif; 
}
h2 {
  text-align: center;
}

@media (prefers-color-scheme: dark) {
  body {
    background-color: black;
    color: white;
  }

  .logo {
    filter: invert(1) hue-rotate(180deg);
  }
}