a {
  color: #1e88e5;
  text-decoration: none;
}

header {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}

.searchBar {
  height: 16px;
  font-size: 14px;
  padding: 0.5em;
  border: none;
  border-bottom: 1px solid #d2d2d2;
  outline: none;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, avenir next, avenir, segoe ui,
    helvetica neue, helvetica, Ubuntu, roboto, noto, arial, sans-serif;
}

main {
  margin: 0 24vw 0 24vw;
}

iframe {
  border: none;
  overflow: hidden;
}

.pfp {
  border-radius: 100%;
  object-fit: cover;
}

.pfp--default {
  background-color: lightskyblue;
}

.videoMeta {
  width: 20%;
}

.videoMeta__wrapper {
  display: flex;
  flex-direction: row;
  gap: 6px;
}

.videoDesc {
  width: 80%;
}

.videoDesc__channel {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 10px;
}

.videoDesc__claimId {
  font-size: 12px;
}

.comment {
  display: flex;
  flex-direction: row;
  gap: 10px;
}

#comments__expandBtn {
  display: none;
}

.comments__expandBtn__label {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
  user-select: none;
}

.comments__expandBtn__icon {
  font-size: 24px;
}

#comments__expandBtn ~ .comments__expandBtn__label > span::after {
  content: "expand_more";
}

#comments__expandBtn:checked ~ .comments__expandBtn__label > span::after {
  content: "expand_less";
}

#comments__expandBtn:checked ~ .comments {
  display: none;
}

.emote {
  display: inline;
}

#loadMore {
  cursor: pointer
}

#spinner {
  margin-bottom: 1em;
}

.spinner {
  display: inline-block;
  width: 32px;
  height: 32px;
}

.spinner:after {
  content: " ";
  display: block;
  width: 32px;
  height: 32px;
  border-radius: 50%;
  border: 3px solid #000;
  border-color: #000 transparent #000 transparent;
  animation: spinner 1.2s linear infinite;
}

@keyframes spinner {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

footer {
  display: flex;
  justify-content: center;
  flex-direction: row;
  gap: 10px;
}

@media only screen and (max-width: 812px) {
  main {
    margin: 0;
  }
  .videoData {
    flex-direction: column;
  }
  .videoData__side {
    width: 100%;
  }
  .videoMeta {
    width: 100%;
  }
  .videoMeta__wrapper {
    flex-direction: column;
  }
  .videoMeta__thumbs {
    display: flex;
    flex-direction: row;
    gap: 6px;
    margin-top: -1.75em;
    height: 1.5em;
  }
  .videoDesc {
    width: 100%;
  }
  footer {
    flex-direction: column;
    text-align: center;
  }
}

@media (prefers-color-scheme: dark) {
  body {
    background-color: black;
    color: white;
  }
  .logo {
    filter: invert(1) hue-rotate(180deg);
  }
  .searchBar {
    background-color: black;
    color: #d2d2d2;
  }
  .relVid__link {
    color: #ffffff;
  }
}
