<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <meta name="thumbnail" content="{{.config.DOMAIN}}{{.channel.Thumbnail}}">
  <meta name="description" content={{.video.Description}}>

  <meta property="og:site_name" content="Librarian">
  <meta property="og:url" content={{.channel.Url}}>
  <meta property="og:title" content={{.channel.Title}}>
  <meta property="og:image" content="{{.config.DOMAIN}}{{.channel.Thumbnail}}">
  <meta property="og:description" content={{.channel.Description}}>
  <meta property="og:type" content="website">

  <meta name="twitter:card" content="player">
  <meta name="twitter:url" content={{.channel.Url}}>
  <meta name="twitter:title" content={{.channel.Title}}>
  <meta name="twitter:description" content="">
  <meta name="twitter:image" content="{{.config.DOMAIN}}{{.channel.Thumbnail}}">

  <link rel="apple-touch-icon" sizes="180x180" href="/static/favicon/apple-touch-icon.png">
  <link rel="icon" type="image/png" sizes="32x32" href="/static/favicon/favicon-32x32.png">
  <link rel="icon" type="image/png" sizes="16x16" href="/static/favicon/favicon-16x16.png">
  <link rel="manifest" href="/static/manifest.json">
  <link rel="mask-icon" href="/static/favicon/safari-pinned-tab.svg" color="#5bbad5">
  <link rel="shortcut icon" href="/static/favicon/favicon.ico">
  <meta name="msapplication-TileColor" content="#2b5797">
  <meta name="msapplication-config" content="/static/favicon/browserconfig.xml">
  <meta name="theme-color" content="#ffffff">

  <link rel="alternate" type="application/rss+xml" title="{{.channel.Title}} - Librarian" href="{{.channel.Url}}/rss"/>

  <link rel="stylesheet" href="/static/css/channel.css"/>  
  <link rel="stylesheet" href="/static/fonts/Material-Icons-Outlined.css" />

  <title>{{.channel.Title}} - Librarian</title>
</head>

<body>
  <header>
    <a href="/">
      <img src="/static/img/librarian.svg" height="72" class="logo" />
    </a>
    <form action="/search" method="GET">
      <input type="text" placeholder="Search..." name="q" value="{{.query.query}}" class="searchBar" />
    </form>
  </header>

  <br>

  <main>
    
    {{if .channel.CoverImg}}
    <img src="{{.channel.CoverImg}}&w=1920&h=240" class="coverImg" loading="lazy"/>
    {{else}}
    {{end}}
    
    <hr>

    <div class="channel">
      {{if .channel.Thumbnail}}
      <img src="{{.channel.Thumbnail}}&w=56&h=56" class="pfp" width="56" height="56" loading="lazy"/>
      {{else}}
      <img src="/static/img/spaceman.png" class="pfp defaultPfp" width="56" height="56" loading="lazy"/>
      {{end}}
      <p>
        <b>{{.channel.Title}}</b>
        <br>
        {{.channel.Name}}
      </p>
    </div>

    <div>
      <input id="expandBtn" type="checkbox">
      <div class="description">{{.channel.Description}}</div>
      <label for="expandBtn">
        <a></a>
      </label>
    </div>
    <br>

    <a href="{{.channel.Url}}/rss">
      <button class="subscribeBtn">
        <span class="material-icons-outlined">rss_feed</span> Subscribe | {{.channel.Followers}} followers
      </button>
    </a>
    <br><br>
    <a href="{{.channel.OdyseeUrl}}">View on Odysee</a><br>
    
    <!-- TO-DO: Add playlists
    {{if eq .query.claimType .query.stream}}
      <b>Videos</b><br>
      <a href="{{.channel.RelUrl}}?claimType=collection">Playlists</a>
    {{else}}
      <a href="{{.channel.RelUrl}}">Videos</a><br>
      <b>Playlists</b>
    {{end}}-->
    <hr>

    <div class="claims">
      {{range $index, $value := .claims}}
        <div class="video">
          <div class="thumbnailWrapper">
            <a href={{$value.RelUrl}}>
              <img class="thumbnail" src="{{$value.ThumbnailUrl}}&w=854&h=480" loading="lazy"/>
            </a>
            {{if eq $value.StreamType "video" }}
            <p class="duration">{{$value.Duration}}</p>
            {{else}}
            {{end}}
          </div>
          <p>
            <a class="videoLink" href={{$value.RelUrl}}>{{$value.Title}}</a>
          </p>
          <p>
            <a class="videoLink" href={{$value.Channel.RelUrl}}>{{$value.Channel.Name}}</a>
          </p>
          <div class="videoMeta">
            <p title="{{$value.Date}}">Shared {{$value.RelTime}}</p>
            <p>{{$value.Views}} views</p>
          </div>
        </div>
        {{end}}
    </div>
    
    <br><br>

    <div class="pageSelector">
      {{if ne .query.prevPage .query.page0 }}
      <a class="videoLink" href="{{.channel.RelUrl}}?page={{.query.prevPage}}">Previous page</a>
      {{else}}
      {{end}}
      <a class="videoLink" href="{{.channel.RelUrl}}?page={{.query.nextPage}}">Next page</a>
    </div>
  </main>

  <br><br><br>

  <footer>
    <a href="https://codeberg.org/librarian/librarian/wiki">
      <span class="material-icons-outlined">menu_book</span> Documentation
    </a>
    <a href="/static/licenses.html">
      <span class="material-icons-outlined">copyright</span> JavaScript licenses
    </a>
    <a href="https://codeberg.org/librarian/librarian">
      <span class="material-icons-outlined">code</span> Source Code
    </a>
  </footer>
</body>

</html>