<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <link rel="stylesheet" href="/static/css/plyr.css" />
</head>

<body>
  <video id="player" class="videoPlayer" poster="{{.video.ThumbnailUrl}}&w=1280&h=720" height="100%" width="100%" controls=true>
    {{if eq .stcStream.sd ""}}
    <source type="video/mp4" src="{{.stream}}">
    {{else}}
    <source type="video/webm" src="{{.stcStream.fhd}}" size="1080">
    <source type="video/webm" src="{{.stcStream.hd}}" size="720">
    <source type="video/webm" src="{{.stcStream.sd}}" size="480">
    {{end}}
  </video>

  <script src="/static/js/plyr.js"></script>
  <script>
    const player = new Plyr('#player');

    document.addEventListener('keydown', (event) => {
      switch (event.key) {
        case 'j':
          player.rewind(15);
          break;
        case 'l':
          player.forward(15);
          break;
      }
    });
  </script>
</body>

</html>