<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <meta name="thumbnail" content="{{.config.DOMAIN}}{{.video.ThumbnailUrl}}">
  <meta name="description" content={{.video.Description}}>

  <meta property="og:site_name" content="Librarian">
  <meta property="og:url" content={{.video.Url}}>
  <meta property="og:title" content={{.video.Title}}>
  <meta property="og:image" content="{{.config.DOMAIN}}{{.video.ThumbnailUrl}}">
  <meta property="og:description" content={{.video.Description}}>
  <meta property="og:type" content="video.other">

  <meta name="twitter:card" content="player">
  <meta name="twitter:url" content={{.video.Url}}>
  <meta name="twitter:title" content={{.video.Title}}>
  <meta name="twitter:description" content="">
  <meta name="twitter:image" content="{{.config.DOMAIN}}{{.video.ThumbnailUrl}}">

  <link rel="apple-touch-icon" sizes="180x180" href="/static/favicon/apple-touch-icon.png">
  <link rel="icon" type="image/png" sizes="32x32" href="/static/favicon/favicon-32x32.png">
  <link rel="icon" type="image/png" sizes="16x16" href="/static/favicon/favicon-16x16.png">
  <link rel="manifest" href="/static/manifest.json">
  <link rel="mask-icon" href="/static/favicon/safari-pinned-tab.svg" color="#5bbad5">
  <link rel="shortcut icon" href="/static/favicon/favicon.ico">
  <meta name="msapplication-TileColor" content="#2b5797">
  <meta name="msapplication-config" content="/static/favicon/browserconfig.xml">
  <meta name="theme-color" content="#ffffff">

  <link rel="stylesheet" href="/static/css/plyr.css" />
  <link rel="stylesheet" href="/static/css/video.css" />
  <link rel="stylesheet" href="/static/fonts/Material-Icons-Outlined.css" />

  <title>{{.video.Title}} - Librarian</title>
</head>

<body>
  <header>
    <a href="/">
      <img src="/static/img/librarian.svg" height="72" class="logo" />
    </a>
    <form action="/search" method="GET">
      <input type="text" placeholder="Search..." name="q" value="{{.query.query}}" class="searchBar" />
    </form>
  </header>

  <br>

  <main>
    <div class="videoWrapper">
      <video id="player" class="videoPlayer" poster="{{.video.ThumbnailUrl}}&w=1280&h=720" controls=true>
        {{if eq .stcStream.sd ""}}
        <source type="video/mp4" src="{{.stream}}">
        {{else}}
        <source type="video/webm" src="{{.stcStream.fhd}}" size="1080">
        <source type="video/webm" src="{{.stcStream.hd}}" size="720">
        <source type="video/webm" src="{{.stcStream.sd}}" size="480">
        {{end}}
      </video>
    </div>

    <h2>{{.video.Title}}</h2>

    <div class="videoData">
      <div class="videoData__left videoData__side">
        <div class="videoMeta__wrapper">
          <div class="videoMeta">
            <a href="{{.video.OdyseeUrl}}">Watch on Odysee</a><br>
            <a href="{{.stream}}?download=true">
              <button class="videoMeta__download">
                <span class="material-icons-outlined">download</span> Download
              </button>
            </a>
            <p><span class="material-icons-outlined" title="Views">visibility</span> {{.video.Views}}</p>
            <div class="videoMeta__thumbs">
              <p><span class="material-icons-outlined" title="Likes">thumb_up</span> {{.video.Likes}}</p>
              <p><span class="material-icons-outlined" title="Dislilkes">thumb_down</span> {{.video.Dislikes}}</p>
            </div>
            <p><span class="material-icons-outlined" title="License">copyright</span> {{.video.License}}</p>
          </div>

          <div class="videoDesc">
            <div class="videoDesc__channel">
              <a href="{{.video.Channel.RelUrl}}">
                {{if .video.Channel.Thumbnail}}
                <img src="{{.video.Channel.Thumbnail}}&w=56&h=56" class="pfp" width="56" height="56" loading="lazy" />
                {{else}}
                <img src="/static/img/spaceman.png" class="pfp pfp--default" width="56" height="56" loading="lazy" />
                {{end}}
              </a>
              <a href="{{.video.Channel.RelUrl}}">
                <p>
                  {{if .video.Channel.Title}}
                  <b>{{.video.Channel.Title}}</b>
                  <br>
                  {{.video.Channel.Name}}
                  {{else}}
                  <b>{{.video.Channel.Name}}</b>
                  {{end}}
                </p>
              </a>
            </div>
            <p><b>Shared {{.video.Date}}</b></p>
            <div>
              <input id="videoDesc__expandBtn" type="checkbox">
              <div class="videoDesc__description">{{.video.Description}}</div>
              <label class="videoDesc__expandBtn__label" for="videoDesc__expandBtn">
                <a></a>
              </label>
            </div>
            <p class="videoDesc__claimId">Claim ID: {{.video.ClaimId}}</p>
          </div>
        </div>

        <div>
          <hr>
          <input id="comments__expandBtn" type="checkbox">
          <label class="comments__expandBtn__label" for="comments__expandBtn">
            <h3 id="commentsLength">Comments</h3>
            <span class="comments__expandBtn__icon material-icons-outlined"></span>
          </label>
          <div id="comments" class="comments">
            <p id="nojs">
              <a href="{{.video.RelUrl}}?nojs=1">
                Hi! Looks like you have JavaScript turned off. Click here to view comments, keep in mind they may take a bit longer to load.
              </a>
            </p>
          </div>
          <div id="spinner" class="center">
            <div class="spinner"></div>
          </div>
        </div>
        <hr>
      </div>

      <div class="videoData__right videoData__side">
        <div class="relVids">
          {{range $index, $value := .relatedVids}}
          <div>
            <div class="relVid__thumbnailWrapper">
              <a href={{$value.RelUrl}}>
                <img class="relVid__thumbnail" src="{{$value.ThumbnailUrl}}&w=854&h=480" loading="lazy" />
              </a>
              <p class="relVid__duration">{{$value.Duration}}</p>
            </div>
            <p>
              <a class="relVid__link" href={{$value.RelUrl}}>{{$value.Title}}</a>
            </p>
            <p>
              <a class="relVid__link" href={{$value.Channel.RelUrl}}>{{$value.Channel.Name}}</a>
            </p>
            <div class="relVid__meta">
              <p title="{{$value.Date}}">Shared {{$value.RelTime}}</p>
              <p>{{$value.Views}} views</p>
            </div>
          </div>
          {{end}}
        </div>
      </div>
    </div>
  </main>

  <br><br><br>

  <footer>
    <a href="https://codeberg.org/librarian/librarian/wiki">
      <span class="material-icons-outlined">menu_book</span> Documentation
    </a>
    <a href="/static/licenses.html">
      <span class="material-icons-outlined">copyright</span> JavaScript licenses
    </a>
    <a href="https://codeberg.org/librarian/librarian">
      <span class="material-icons-outlined">code</span> Source Code
    </a>
  </footer>

  <script src="/static/js/plyr.js"></script>
  <script src="/static/js/comments.js"></script>
  <script>
    document.getElementById("nojs").remove();

    const player = new Plyr('#player');

    document.addEventListener('keydown', (event) => {
      switch (event.key) {
        case 'j':
          player.rewind(15);
          break;
        case 'l':
          player.forward(15);
          break;
      }
    });

    comments("{{.video.ClaimId}}", "{{.video.Channel.Id}}", "{{.video.Channel.Name}}", 1)

    function loadMoreBtn(page) {
      let loadMore = document.getElementById("loadMore");
      loadMore.addEventListener('click', () => {
        loadMore.remove()
        comments("{{.video.ClaimId}}", "{{.video.Channel.Id}}", "{{.video.Channel.Name}}", page + 1)
      })
    }
  </script>
</body>

</html>